<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

  <display-name>Webapp</display-name>

  <!-- RegisterServlet -->
  <servlet>
      <servlet-name>RegisterServlet</servlet-name>
      <servlet-class>com.example.servlet.RegisterServlet</servlet-class>
  </servlet>

  <servlet-mapping>
      <servlet-name>RegisterServlet</servlet-name>
      <!-- form action in index.jsp points here -->
      <url-pattern>/action_page.php</url-pattern>
  </servlet-mapping>

</web-app>

